/* VARIABLE COLORS */
:root{
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #303030;
    --quaternary-color: #E50914;
    --quinary-color: #b6060f;
    --senario-color: #515C6F;
    --septenary-color: #C1C3D0;
    --octonary-color: #FF8534;
    --nonary-color: #757575;
}

/* GENERAL SETTINGS  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BACKGROUND */
html, body{
    width: 100vw;
    overflow-x: hidden;

    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* HEADER */
.container-header{
    background-image: url(../img/banner-initial.png);
}

.image-logo{
    width: 150px;
}

.text-title{
    font-size: 70px;
}

.button-initial{
    width: 170px;
    height: 75px;
    border-radius: 0.5rem;
    border: none;

    background-color: var(--quaternary-color);
    color: var(--primary-color);

    font-size: 25px;
    font-weight: 700;

    transition: 0.5s;
}
.button-initial:hover{
    background-color: var(--quinary-color);
}

/* MAIN */
.border-color{
    color: var(--senario-color);
}

.accordion{
    width: 100%;
    max-width: 850px;
    border: none;
}

.accordion-color{
    background-color: var(--tertiary-color) !important;
    color: var(--primary-color) !important;
    cursor: pointer;

    font-size: 20px;
}

.accordion-button{
    height: 80px !important;
    font-size: 25px;
}

.accordion-button::after{
    background-image: url(../img/svg/add.svg);
}

.accordion-button:focus{
    outline: none !important;
}

/* FOOTER */
footer{
    font-size: 15px;
    color: var(--nonary-color) !important;
}

/* ------------------------ PAGE HOME ----------------------- */

/* HEADER HOME */
.container-headerHome{
    background-image: url(../img/growcast-01.png);
    background-size: cover;
    background-repeat: no-repeat;

    height: 750px;
}

.image-play{
    width: 20px;
}

.text-header-page2{
    margin-top: 300px;
}

.navbar-header-page2 a{
    text-decoration: none;
    color: var(--senario-color);
    cursor: pointer;

    transition: 0.5s;
}

.navbar-header-page2 a:hover{
    color: var(--septenary-color);
}

.navbar-header-page2 :first-child {
    color: var(--primary-color);
}

/* MAIN HOME */
.text-title-main-page2 section a:hover{
    cursor: pointer;
    transition: 0.5s;
    color: var(--octonary-color) !important;
}

.image-cards{
    width: 60px;
}

.card-body{
    display: none !important;
}

.image-thumbnail{
    width: 300px;

    transition: 0.2s;
}.image-thumbnail:hover{
    scale: 1.2;
}